In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('/Users/tejaswinikambaiahgari/Downloads/zomato.csv')

In [3]:
data.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
data.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [5]:
data=data[data.cuisines.isna()==False]

In [6]:
data.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7741
votes                              0
phone                           1179
location                           0
rest_type                        206
dish_liked                     28033
cuisines                           0
approx_cost(for two people)      320
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [7]:
data.drop(columns=["url", 'address','phone','listed_in(city)'], inplace  =True)

In [8]:
data.rename(columns={'approx_cost(for two people)': 'average_cost'}, inplace=True)

In [9]:
data['average_cost'].value_counts()[:20]

300      7576
400      6554
500      4977
200      4855
600      3712
250      2959
800      2285
150      2064
700      1948
350      1763
1,000    1637
450      1417
1,200     993
100       991
1,500     971
650       776
550       761
750       758
900       700
1,300     516
Name: average_cost, dtype: int64

In [10]:
dishes_data = data[data.dish_liked.notnull()]
dishes_data.dish_liked = dishes_data.dish_liked.apply(lambda x:x.lower().strip())

In [11]:
dishes_data.isnull().sum()

name                 0
online_order         0
book_table           0
rate                30
votes                0
location             0
rest_type           70
dish_liked           0
cuisines             0
average_cost       136
reviews_list         0
menu_item            0
listed_in(type)      0
dtype: int64

In [12]:
data['rate'] = data['rate'].replace('NEW',np.NaN)
data['rate'] = data['rate'].replace('-',np.NaN)
data.dropna(how = 'any', inplace = True)

In [13]:
data['rate'] = data.loc[:,'rate'].replace('[ ]','',regex = True)
data['rate'] = data['rate'].astype(str)
data['rate'] = data['rate'].apply(lambda r: r.replace('/5',''))
data['rate'] = data['rate'].apply(lambda r: float(r))

In [14]:
cuisines_data = data[data.cuisines.notnull()]
cuisines_data.cuisines = cuisines_data.cuisines.apply(lambda x:x.lower().strip())

In [15]:
data['online_order']= pd.get_dummies(data.online_order, drop_first=True)
data['book_table']= pd.get_dummies(data.book_table, drop_first=True)
data

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,average_cost,reviews_list,menu_item,listed_in(type)
0,Jalsa,1,1,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,Spice Elephant,1,0,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,San Churro Cafe,1,0,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,Addhuri Udupi Bhojana,0,0,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,Grand Village,0,0,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet
5,Timepass Dinner,1,0,3.8,286,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet
7,Onesta,1,1,4.6,2556,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",[],Cafes
8,Penthouse Cafe,1,0,4.0,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes
9,Smacznego,1,0,4.2,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes
10,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,1,0,4.1,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,"[('Rated 4.0', 'RATED\n We ended up here on a...",[],Cafes
11,Cafe Shuffle,1,1,4.2,150,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,"[('Rated 1.0', ""RATED\n \n\nHorrible. Not even...",[],Cafes
12,The Coffee Shack,1,1,4.2,164,Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,"[('Rated 4.0', ""RATED\n Food - 4/5\nAmbience ...",[],Cafes
13,Caf-Eleven,0,0,4.0,424,Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,"[('Rated 2.0', ""RATED\n This is a hookah cafe...",[],Cafes
14,San Churro Cafe,1,0,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Cafes
15,Cafe Vivacity,1,0,3.8,90,Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,"[('Rated 2.0', 'RATED\n Not so good place as ...",[],Cafes
16,Catch-up-ino,1,0,3.9,133,Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,"[('Rated 1.0', ""RATED\n This place is right o...",[],Cafes
17,Kirthi's Biryani,1,0,3.8,144,Banashankari,Cafe,"Pasta, Gelato, Garlic Bread, Mojito, Nachos, P...","Chinese, Cafe, Italian",700,"[('Rated 3.0', ""RATED\n New place.. though it...",[],Cafes
18,T3H Cafe,0,0,3.9,93,Banashankari,Cafe,"Cheese Maggi, Peri Peri Fries, Pasta Arrabiata","Cafe, Italian, American",300,"[('Rated 4.0', ""RATED\n Happy to see such a c...",[],Cafes
20,The Vintage Cafe,1,0,3.0,62,Banashankari,Cafe,"Burgers, Caramel Milkshake, Iced Coffee, Iced Tea","Cafe, French, North Indian",400,"[('Rated 2.0', ""RATED\n This is a tiny cafÃ\...",[],Cafes
21,Woodee Pizza,1,0,3.7,180,Banashankari,Cafe,"Pizza, Garlic Bread","Cafe, Pizza, Fast Food, Beverages",500,"[('Rated 3.0', 'RATED\n Decided to take a bre...",[],Cafes
23,My Tea House,1,0,3.6,62,Banashankari,"Quick Bites, Cafe","Pasta, Iced Tea","Italian, Fast Food, Cafe, European",600,"[('Rated 4.0', ""RATED\n So, went here with fr...",[],Cafes
29,Srinathji's Cafe,0,0,3.8,148,Basavanagudi,"Casual Dining, Cafe","Paratha, Sandwich, Chilli Idli, Noodles, Sandw...","North Indian, Cafe, Chinese, Fast Food",550,"[('Rated 5.0', 'RATED\n No words for the pane...",[],Cafes
30,Redberrys,1,0,4.0,219,Basavanagudi,Cafe,"Pizza, Fries, Anjeer Ice Cream, Sandwiches, Ge...","Cafe, Italian",600,"[('Rated 4.0', ""RATED\n Redberrys will provid...",[],Cafes
31,Foodiction,1,0,2.8,506,Banashankari,Quick Bites,"Burgers, Lassi, Chicken Grill, Naan, Momos, Ch...","North Indian, Fast Food, Chinese, Burger",500,"[('Rated 1.0', ""RATED\n Worst restaurant ever...",[],Delivery
33,Ovenstory Pizza,1,0,3.9,172,Banashankari,Delivery,"Paneer Tikka, Garlic Bread, Thin Crust Pizza, ...",Pizza,750,"[('Rated 4.0', 'RATED\n Stumbled upon this on...",[],Delivery
34,Faasos,1,0,4.2,415,Banashankari,Quick Bites,"Rolls, Veggie Wrap, Chocolate Fantasy, Rice Bo...","North Indian, Biryani, Fast Food",500,"[('Rated 3.0', 'RATED\n Not worth for the mon...","['Chole Kulcha Meal', 'Upvas Aloo Paratha With...",Delivery
35,Behrouz Biryani,1,0,3.9,230,Banashankari,Delivery,"Raita, Gulab Jamun, Paneer Biryani, Vegetable ...",Biryani,650,"[('Rated 1.0', ""RATED\n Had ordered 'Zaikedaa...",[],Delivery
37,Szechuan Dragon,1,0,4.2,1647,Banashankari,Casual Dining,"Noodles, Momos, Veg Manchow Soup, Kung Pao Chi...","Chinese, Thai, Momos",600,"[('Rated 4.0', 'RATED\n Located near BMS coll...",[],Delivery
38,Empire Restaurant,1,0,4.4,4884,Jayanagar,Casual Dining,"Chicken Tikka Masala, Mutton Keema Dosa, Mutto...","North Indian, Mughlai, South Indian, Chinese",750,"[('Rated 3.0', 'RATED\n Grill and tandoori is...",[],Delivery
40,Chaatimes,1,0,3.8,133,Basavanagudi,Quick Bites,"Dabeli, Faluda, Masala Poori, Sandwiches, Tokr...","Street Food, Fast Food",200,"[('Rated 4.0', 'RATED\n Ordered pack of dabel...",[],Delivery
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51677,Bhagini,0,0,2.5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,"[('Rated 4.0', 'RATED\n A fine place to chill...",[],Drinks & nightlife
51681,Chime - Sheraton Grand Bengaluru Whitefield Ho...,0,1,4.3,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Drinks & nightlife
51682,The Pallet,0,1,4.5,2745,Whitefield,"Microbrewery, Pub","Craft Beer, Wine, Chilli Chicken, Wedges, Lamb...","Continental, Mediterranean, Italian, North Ind...","1,600","[('Rated 2.0', 'RATED\n We visited this place...",[],Pubs and bars
51683,alt,0,1,4.1,821,Whitefield,"Bar, Lounge","Margarita, Lamb, Cocktails, Nachos, Spring Rol...",Finger Food,"1,900","[('Rated 3.0', ""RATED\n It's a skydeck which ...",[],Pubs and bars
51684,The Biere Club,0,1,4.3,2283,Whitefield,"Pub, Microbrewery","Wheat Beer, Beef Burger, Pizza, Craft Beer, Po...","Continental, BBQ, Finger Food","1,700","[('Rated 5.0', 'RATED\n A very friendly place...",[],Pubs and bars
51685,Biergarten,0,1,4.7,7064,Whitefield,"Microbrewery, Pub","Wheat Beer, Risotto, Craft Beer, Caesar Salad,...","Continental, European, BBQ, Chinese, Asian","2,400","[('Rated 3.0', 'RATED\n We had been here on a...",[],Pubs and bars
51686,Windmills Craftworks,0,0,4.6,5954,Whitefield,"Microbrewery, Pub","Keema Pav, Cocktails, Craft Beer, Pork Chops, ...","American, North Indian, Salad","2,500","[('Rated 5.0', ""RATED\n A review for Windmill...",[],Pubs and bars
51687,Red Rhino,1,1,4.4,1980,Whitefield,"Microbrewery, Pub","Beer, Margarita, Long Island Iced Tea, Cocktai...","Continental, Mediterranean, South Indian, Nort...","1,700","[('Rated 4.0', 'RATED\n Red Rhino is a Brewer...","['Hangover', 'Smoking Hot Red Rhino Chilli Chi...",Pubs and bars
51688,Ji Hazoor,1,1,4.0,2856,Whitefield,"Casual Dining, Bar","Chicken Salad, Mocktails, Mutton Curry, Chicke...","Mughlai, North Indian, Biryani, Afghan","1,100","[('Rated 4.0', 'RATED\n Was there on last Wed...","['Dal Tadka', 'Dal Makhani', 'Paneer Tikka Mas...",Pubs and bars
51689,HQ,0,1,4.1,564,Whitefield,"Casual Dining, Bar","Mocktails, Pizza, Crispy Chicken, Beer, Nachos...","North Indian, Italian, Finger Food, Continental","1,000","[('Rated 3.0', ""RATED\n HQ is located at grou...",[],Pubs and bars
51690,Biere Societee,0,1,4.2,320,Whitefield,Pub,"Tempura Prawns, Cocktails, Noodles, Masala Pea...","Asian, Continental, European","1,500","[('Rated 3.0', 'RATED\n Went with Team on Thu...",[],Pubs and bars
51691,Uno Chicago Bar & Grill,0,1,4.2,156,Whitefield,"Bar, Casual Dining","Deep Dish Pizza, Mocktails, Burgers, Onion Rin...","American, Italian","1,800","[('Rated 4.0', ""RATED\n Had been here for lun...",[],Pubs and bars
51692,Amoeba Sports Bar,1,1,3.9,578,Whitefield,"Lounge, Bar","Pasta, Fish, Beer, Chicken Wings, Mocktails, G...","Continental, Chinese","1,000","[('Rated 3.0', 'RATED\n Amoeba is affordable ...",[],Pubs and bars
51693,One For The Road,1,1,4.1,137,Whitefield,Bar,"Cocktails, Pasta, Fish","Continental, North Indian, Finger Food","1,200","[('Rated 4.0', 'RATED\n Had been there on a S...","['Chicken Manchow Soup', 'Chicken Lollipop', '...",Pubs and bars
51694,Whitefield Social,1,0,4.1,2773,Whitefield,Pub,"Cocktails, Chicken Kebab, Murgh Ghee Roast, Vi...","American, North Indian, Chinese, Finger Food, ...","1,500","[('Rated 2.0', 'RATED\n Honestly speaking it ...","['Chilli Paneer Black Pepper China Box', 'Chil...",Pubs and bars
51695,The Whitefield Arms Pub & Microbrewery,1,1,4.2,1113,Whitefield,"Pub, Microbrewery","Beer, Chicken Tikka, Cosmopolitan, Burgers, Co...","British, Continental, BBQ","1,600","[('Rated 4.0', ""RATED\n I never knew of this ...",[],Pubs and bars
51696,The Irish House,0,1,4.3,1776,Whitefield,"Casual Dining, Pub","Beer, Cocktails, Burgers, Chicken Nachos, Mock...","European, American","1,700","[('Rated 4.0', 'RATED\n Nice place to grab a ...",[],Pubs and bars
51697,Shizusan Shophouse & Bar,1,1,4.4,1313,Whitefield,"Casual Dining, Bar","California Roll, Cocktails, Mocktails, Maki Ro...","Asian, Japanese, Vietnamese, Korean, Chinese, ...","1,800","[('Rated 3.0', 'RATED\n Wanted to try this pl...",[],Pubs and bars
51698,Kava Kitchen & Bar - Fairfield by Marriott,0,0,3.9,74,Whitefield,"Casual Dining, Bar",Dal Halwa,"North Indian, South Indian, Continental, Ameri...","1,200","[('Rated 4.0', 'RATED\n Loved the food, thoug...",[],Pubs and bars
51699,Harry's Bar + Cafe,1,1,4.1,1218,Whitefield,Pub,"Cocktails, Beer, Long Island Iced Tea, Pasta, ...","Asian, American, Mexican","1,200","[('Rated 4.0', 'RATED\n The first thing that ...",[],Pubs and bars
51700,BAR BAR,0,1,4.1,1003,Whitefield,"Bar, Casual Dining","Mocktails, Cocktails, Pizza, Chicken Tikka, Na...","Continental, North Indian, Italian","1,500","[('Rated 4.0', ""RATED\n In an increasingly ov...",[],Pubs and bars
51701,The Beer Cafe,1,1,4.1,673,Whitefield,Pub,"Cocktails, Wheat Beer, Bruschettas, Pasta, Bur...","Finger Food, North Indian, Chinese, Italian","1,400","[('Rated 2.0', ""RATED\n We went out to this p...",[],Pubs and bars
51702,Pablo's Gastrobar,0,0,4.0,1094,Whitefield,Bar,"Cocktails, Beer, Pizza, Long Island Iced Tea, ...","Finger Food, American, Asian, Italian","1,450","[('Rated 4.0', 'RATED\n A good place to dine....",[],Pubs and bars
51703,Oliver's Pub & Diner,1,1,3.9,548,Whitefield,"Pub, Casual Dining","Pizza, Beer, Cocktails, Nachos, Pasta, Moo Bur...","Finger Food, American, Continental, Burger, Pizza","1,500","[('Rated 4.0', ""RATED\n I had :-\n\n1. Italia...",[],Pubs and bars
51704,Smaaash,0,1,4.0,189,Whitefield,"Casual Dining, Pub","Pizza, Beer","North Indian, Pizza, Chinese","1,500","[('Rated 3.0', 'RATED\n Like this place for z...",[],Pubs and bars
51705,Izakaya Gastro Pub,1,1,3.8,128,Whitefield,"Bar, Casual Dining","Beer, Chicken Guntur, Paneer Tikka, Fish, Nood...","North Indian, Continental, Mediterranean","1,200","[('Rated 3.0', ""RATED\n Nice place to hangout...",[],Pubs and bars
51707,M Bar - Bengaluru Marriott Hotel Whitefield,0,0,3.9,77,Whitefield,"Fine Dining, Bar",Rooftop Ambience,Finger Food,"2,000","[('Rated 4.0', 'RATED\n Went there post dinne...",[],Pubs and bars
51708,Keys Cafe - Keys Hotel,0,0,2.8,161,Whitefield,"Casual Dining, Bar","Salads, Coffee, Breakfast Buffet, Halwa, Chick...","Chinese, Continental, North Indian","1,200","[('Rated 3.0', 'RATED\n Place is good not tha...",[],Pubs and bars
51711,Bhagini,0,0,2.5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,"[('Rated 4.0', 'RATED\n A fine place to chill...",[],Pubs and bars
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,0,1,4.3,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars

In [16]:
data.drop(columns=['dish_liked','reviews_list','menu_item','listed_in(type)'], inplace  =True)

In [17]:
data['rest_type'] = data['rest_type'].str.replace(',' , '') 
data['rest_type'] = data['rest_type'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))
data['rest_type'].value_counts().head()

Casual Dining        7331
Bites Quick          5253
Cafe                 2375
Bar Casual Dining    1321
Dessert Parlor       1083
Name: rest_type, dtype: int64

In [18]:
data['cuisines'] = data['cuisines'].str.replace(',' , '') 
data['cuisines'] = data['cuisines'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))
data['cuisines'].value_counts().head()

Indian North                         1152
Chinese Indian North                  852
Chinese Indian Indian North South     455
Indian South                          366
Cream Desserts Ice                    334
Name: cuisines, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder
T = LabelEncoder()                 
data['location'] = T.fit_transform(data['location'])
data['rest_type'] = T.fit_transform(data['rest_type'])
data['cuisines'] = T.fit_transform(data['cuisines'])

In [20]:
data["average_cost"] = data["average_cost"].str.replace(',' , '') 
data["average_cost"] = data["average_cost"].astype('float')
data.head()

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,average_cost
0,Jalsa,1,1,4.1,775,1,29,951,800.0
1,Spice Elephant,1,0,4.1,787,1,29,963,800.0
2,San Churro Cafe,1,0,3.8,918,1,22,806,800.0
3,Addhuri Udupi Bhojana,0,0,3.7,88,1,19,1201,300.0
4,Grand Village,0,0,3.8,166,4,29,1237,600.0

In [21]:
x = data.drop(['rate','name'],axis = 1)

In [22]:
y = data['rate']

In [23]:
x.shape

(23259, 7)

In [24]:
y.shape

(23259,)

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 33)

In [26]:
from sklearn.preprocessing import StandardScaler
num_values1=data.select_dtypes(['float64','int64']).columns
scaler = StandardScaler()
scaler.fit(data[num_values1])
data[num_values1]=scaler.transform(data[num_values1])

In [27]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred_lr = lr.predict(X_test)

In [28]:
lr.score(X_test, y_test)*100

21.076424408263406

In [29]:
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)
y_pred_rfr = rfr.predict(X_test)

In [30]:
rfr.score(X_test,y_test)*100

89.57364042705156

In [31]:
onehot = pd.read_csv("/Users/tejaswinikambaiahgari/Downloads/zomato.csv")
onehot.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [32]:
onehot['rate'] = onehot['rate'].replace('NEW',np.NaN)
onehot['rate'] = onehot['rate'].replace('-',np.NaN)
onehot.dropna(how = 'any', inplace = True)

onehot['rate'] = onehot.loc[:,'rate'].replace('[ ]','',regex = True)
onehot['rate'] = onehot['rate'].astype(str)
onehot['rate'] = onehot['rate'].apply(lambda r: r.replace('/5',''))
onehot['rate'] = onehot['rate'].apply(lambda r: float(r))

In [33]:
onehot['cuisines'] = onehot['cuisines'].str.replace(',' , '') 
onehot['cuisines'] = onehot['cuisines'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))
onehot['cuisines'].unique()

array(['Chinese Indian Mughlai North', 'Chinese Indian North Thai',
       'Cafe Italian Mexican', ...,
       'BBQ Continental Indian Italian North', 'Nepalese Tibetan',
       'Andhra Biryani Hyderabadi'], dtype=object)

In [34]:
onehot['rest_type'] = onehot['rest_type'].str.replace(',' , '') 
onehot['rest_type'] = onehot['rest_type'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))
onehot['rest_type'].value_counts().head()

Casual Dining        7298
Bites Quick          5224
Cafe                 2321
Bar Casual Dining    1308
Dessert Parlor       1074
Name: rest_type, dtype: int64

In [35]:
onehot['dish_liked'] = onehot['dish_liked'].str.replace(',' , '') 
onehot['dish_liked'] = onehot['dish_liked'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))
onehot['dish_liked'].value_counts().head()

Biryani            179
Friendly Staff      68
Waffles             67
Biryani Chicken     66
Dosa Masala         56
Name: dish_liked, dtype: int64

In [36]:
dummy_rest_type=pd.get_dummies(onehot['rest_type'])
dummy_city=pd.get_dummies(onehot['location'])
dummy_cuisines=pd.get_dummies(onehot['cuisines'])
dummy_dishliked=pd.get_dummies(onehot['dish_liked'])

In [37]:
final=pd.concat([onehot,dummy_rest_type,dummy_city,dummy_cuisines,dummy_dishliked],axis=1)

In [38]:
final.drop(columns=['rest_type','location','cuisines','dish_liked','name','phone'] , inplace=True)
final.drop(columns=['reviews_list','menu_item','listed_in(type)','listed_in(city)'], inplace=True)
final.drop(columns=['url','address'], inplace=True)
final['online_order']=pd.get_dummies(final['online_order'])
final['book_table']=pd.get_dummies(final['book_table'])
final

,online_order,book_table,rate,votes,approx_cost(for two people),Bakery,Bakery Bites Quick,Bakery Cafe,Bakery Dessert Parlor,Bar,...,Sandwiches Tea,Shakes Thick,Shawarma,Tea,Thali,Thali Veg,Tikka,Vada,Vegetarian,Waffles
0,0,0,4.1,775,800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,4.1,787,800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,3.8,918,800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,3.7,88,300,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,3.8,166,600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,3.8,286,600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,4.6,2556,600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,1,4.0,324,700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,1,4.2,504,550,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,1,4.1,402,500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,4.2,150,600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,4.2,164,500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,1,4.0,424,450,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,1,3.8,918,800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,1,3.8,90,650,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,1,3.9,133,800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,1,3.8,144,700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,1,3.9,93,300,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,1,3.0,62,400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,1,3.7,180,500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,1,3.6,62,600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,1,1,3.8,148,550,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,1,4.0,219,600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,1,2.8,506,500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,1,3.9,172,750,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,1,4.2,415,500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,1,3.9,230,650,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,0,1,4.2,1647,600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,1,4.4,4884,750,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,1,3.8,133,200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51677,1,1,2.5,81,800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51681,1,0,4.3,236,"2,500",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
51682,1,0,4.5,2745,"1,600",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51683,1,0,4.1,821,"1,900",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51684,1,0,4.3,2283,"1,700",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51685,1,0,4.7,7064,"2,400",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51686,1,1,4.6,5954,"2,500",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51687,0,0,4.4,1980,"1,700",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51688,0,0,4.0,2856,"1,100",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51689,1,0,4.1,564,"1,000",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51690,1,0,4.2,320,"1,500",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51691,1,0,4.2,156,"1,800",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51692,0,0,3.9,578,"1,000",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51693,0,0,4.1,137,"1,200",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
51694,0,1,4.1,2773,"1,500",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51695,0,0,4.2,1113,"1,600",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51696,1,0,4.3,1776,"1,700",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51697,0,0,4.4,1313,"1,800",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51698,1,1,3.9,74,"1,200",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51699,0,0,4.1,1218,"1,200",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51700,1,0,4.1,1003,"1,500",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51701,0,0,4.1,673,"1,400",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51702,1,1,4.0,1094,"1,450",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
51703,0,0,3.9,548,"1,500",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51704,1,0,4.0,189,"1,500",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51705,0,0,3.8,128,"1,200",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51707,1,1,3.9,77,"2,000",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51708,1,1,2.8,161,"1,200",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51711,1,1,2.5,81,800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51715,1,0,4.3,236,"2,500",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [39]:
final['approx_cost(for two people)'] = final['approx_cost(for two people)'].str.replace(',' , '') 
x = final.drop(['rate'],axis=1)
y = final['rate']

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 33)

In [41]:
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)
y_pred_rfr = rfr.predict(X_test)
rfr.score(X_test,y_test)*100

90.02372069474995